<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wanji.business.mapper.TjCaseMapper">
    <update id="updateCaseStatus">
        update tj_case set status=#{status}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectCases" resultType="net.wanji.business.domain.vo.CaseVo">
        select
        c.id,
        c.tree_id,
        c.case_number,
        c.scene_detail_id,
        c.resources_detail_id,
        c.test_target,
        c.test_status,
        c.status,
        c.updated_date
        from tj_case c
        inner join tj_fragmented_scene_detail sd on sd.id = c.scene_detail_id
        left join tj_case_part_config ps on ps.case_id = c.id
        <where>
            and c.test_type = #{testType}
            and c.status = #{status}
            and c.scene_detail_id = #{sceneDetailId}
            <if test="caseNumber != null and caseNumber !='' ">
                and c.case_number like concat('%',#{caseNumber},'%')
            </if>
            <if test="status != null">
                and c.status = #{status}
            </if>
            <if test="testStatus != null">
                and c.test_status = #{testStatus}
            </if>
            <if test="startTime != null and startTime != ''">
                and c.updated_date &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and c.updated_date &lt;= #{endTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and c.updated_date &lt;= #{endTime}
            </if>
            <if test="label != null and label != ''">
                and find_in_set(#{label}, sd.label) > 0
            </if>
        </where>
    </select>

    <select id="selectCountBySceneIds" resultType="java.lang.Integer">
        select count(*)
        from tj_case
        where scene_detail_id in (
        select id
        from tj_fragmented_scene_detail
        where fragmented_scene_id in
        <foreach collection="sceneIds" item="sceneId" open="(" separator="," close=")">
            #{sceneId}
        </foreach>
        )
    </select>

    <select id="selectCountBySceneDetailIds" resultType="java.lang.Integer">
        select count(*)
        from tj_case
        where scene_detail_id in
        <foreach collection="sceneDetailIds" item="sceneDetailId" open="(" separator="," close=")">
            #{sceneDetailId}
        </foreach>
    </select>

    <select id="selectSceneIdInCase" resultType="net.wanji.business.entity.TjFragmentedScenes">
        SELECT s.*
        FROM tj_fragmented_scenes s
        WHERE s.id IN (
            SELECT sd.fragmented_scene_id
            FROM tj_fragmented_scene_detail sd
            WHERE sd.id IN (SELECT DISTINCT scene_detail_id FROM tj_case WHERE test_type = #{testType})
        )
          AND s.type = #{type}
    </select>

    <select id="selectSubscenesInCase" resultType="net.wanji.business.entity.TjFragmentedSceneDetail">
        SELECT sd.*
        FROM tj_fragmented_scene_detail sd
        WHERE sd.id IN (SELECT DISTINCT scene_detail_id FROM tj_case WHERE test_type = #{testType})
          AND sd.fragmented_scene_id = #{fragmentedSceneId}
    </select>

    <resultMap id="CaseInfoResult" type="net.wanji.business.domain.bo.CaseInfoBo">
        <id property="id" column="id"/>
        <result property="testType" column="test_type"/>
        <result property="sceneName" column="scene_name"/>
        <result property="caseNumber" column="case_number"/>
        <result property="label" column="label"/>
        <result property="sceneDetailId" column="scene_detail_id"/>
        <result property="resourcesDetailId" column="resources_detail_id"/>
        <result property="testTarget" column="test_target"/>
        <result property="evaObject" column="eva_object"/>
        <result property="testScene" column="test_scene"/>
        <result property="detailInfo" column="detail_info"/>
        <result property="routeFile" column="route_file"/>
        <result property="status" column="status"/>
        <result property="filePath" column="file_path"/>
        <result property="geoJsonPath" column="attribute4"/>
        <association property="caseRealRecord" javaType="net.wanji.business.entity.TjCaseRealRecord">
            <id property="id" column="r_id"/>
            <result property="caseId" column="case_id"/>
            <result property="detailInfo" column="r_detail_info"/>
            <result property="routeFile" column="r_route_file"/>
            <result property="status" column="r_status"/>
            <result property="startTime" column="r_start_time"/>
            <result property="endTime" column="r_end_time"/>
        </association>
        <collection property="caseConfigs" javaType="java.util.List" resultMap="CaseConfigResult"/>
    </resultMap>

    <resultMap id="CaseConfigResult" type="net.wanji.business.domain.bo.CaseConfigBo">
        <result property="id" column="config_id"/>
        <result property="caseId" column="case_id"/>
        <result property="participantRole" column="participant_role"/>
        <result property="businessId" column="business_id"/>
        <result property="businessType" column="business_type"/>
        <result property="name" column="business_name"/>
        <result property="model" column="model"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="deviceType" column="device_type"/>
        <result property="supportRoles" column="support_roles"/>
        <result property="ip" column="ip"/>
        <result property="serviceAddress" column="service_address"/>
        <result property="dataChannel" column="data_channel"/>
        <result property="commandChannel" column="command_channel"/>
        <result property="status" column="device_status"/>
        <result property="lastOnlineDate" column="last_online_date"/>
    </resultMap>

    <select id="selectCaseInfo" resultMap="CaseInfoResult">
        SELECT
            tc.id,
            sd.NAME as scene_name,
            tc.test_type,
            tc.case_number,
            tc.label,
            tc.scene_detail_id,
            tc.resources_detail_id,
            tc.test_target,
            tc.eva_object,
            tc.test_scene,
            tc.detail_info,
            tc.route_file,
            tc.`status`,
            pc.id AS config_id,
            pc.case_id,
            pc.participant_role,
            pc.business_id,
            pc.business_type,
            pc.`name` AS business_name,
            pc.model,
            pc.device_id,
            dd.device_name,
            dd.device_type,
            dd.support_roles,
            dd.ip,
            dd.service_address,
            dd.data_channel,
            dd.command_channel,
            dd.`status` AS device_status,
            dd.last_online_date,
            rd.file_path,
            rd.attribute4,
            rr.id AS r_id,
            rr.detail_info AS r_detail_info,
            rr.route_file AS r_route_file,
            rr.`status` AS r_status,
            rr.start_time AS r_start_time,
            rr.end_time AS r_end_time
        FROM
            tj_case tc
                LEFT JOIN ( SELECT fsd.id, fs.NAME FROM tj_fragmented_scene_detail fsd LEFT JOIN tj_fragmented_scenes fs ON fsd.fragmented_scene_id = fs.id ) sd ON sd.id = tc.scene_detail_id
                LEFT JOIN tj_resources_detail rd ON rd.id = tc.resources_detail_id
                LEFT JOIN tj_case_part_config pc ON pc.case_id = tc.id
                LEFT JOIN tj_device_detail dd ON dd.device_id = pc.device_id
                LEFT JOIN tj_case_real_record rr ON rr.case_id = tc.id
        WHERE tc.id=#{caseId}
    </select>


</mapper>
