<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wanji.business.mapper.TjCaseMapper">
    <update id="updateCaseStatus">
        update tj_case set status=#{status}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectCases" resultType="net.wanji.business.domain.vo.CaseVo">
        select
            c.id,
            c.test_type,
            c.case_number,
            sd.hazardIndex,
            c.label,
            c.scene_detail_id,
            c.resources_detail_id,
            c.test_target,
            c.eva_object,
            c.status,
            c.created_by,
            c.created_date,
            c.updated_date,
            rd.name as resourcesName
        from tj_case c
        inner join tj_fragmented_scene_detail sd on sd.id = c.scene_detail_id
        left join tj_resources_detail rd on rd.id = c.resources_detail_id
        <where>
            and c.test_type = #{testType}
            and c.status = #{status}
            and c.scene_detail_id = #{sceneDetailId}
            <if test="caseNumber != null and caseNumber !='' ">
                and c.case_number like concat('%',#{caseNumber},'%')
            </if>
            <if test="label != null and label !='' ">
                and c.label like concat('%',#{label},'%')
            </if>
            <if test="resourcesDetailId != null">
                and c.resources_detail_id = #{resourcesDetailId}
            </if>
        </where>
    </select>

    <select id="selectCountBySceneId" resultType="java.lang.Integer">
        select count(*)
        from tj_case
        where fragmented_scene_id = #{sceneId}
    </select>

    <select id="selectSceneIdInCase" resultType="net.wanji.business.entity.TjFragmentedScenes">
        SELECT s.*
        FROM tj_fragmented_scenes s
        WHERE s.id IN (
            SELECT sd.fragmented_scene_id
            FROM tj_fragmented_scene_detail sd
            WHERE sd.id IN (SELECT DISTINCT scene_detail_id FROM tj_case WHERE test_type = #{testType})
        )
          AND s.type = #{type}
    </select>
    <select id="selectUsingResources" resultType="java.lang.Integer">
        select distinct resources_detail_id
        from tj_case
    </select>
    <select id="selectSubscenesInCase" resultType="net.wanji.business.entity.TjFragmentedSceneDetail">
        SELECT
            sd.*
        FROM
            tj_fragmented_scene_detail sd
        WHERE sd.id IN (SELECT DISTINCT scene_detail_id FROM tj_case WHERE test_type = #{testType})
            AND sd.fragmented_scene_id = #{fragmentedSceneId}
    </select>

</mapper>
